<div class="lg:flex lg:mt-56">
    <div class="lg:container text-center lg:text-left lg:w-[525px] lg:ms-auto">
        <p class="text-2xl font-sans font-semibold text-gray-500 mt-6 ms-6 lg:ms-0 me-6 lg:w-6/12">Live exchange rates</p>
        <p class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-black mt-6 ms-6 lg:ms-0 me-6 lg:w-6/12">CURRENCY COINVERTER</p>
        <p class="text-xl font-sans font-semibold mt-6 ms-6 lg:ms-0 me-6 lg:w-6/12">Check live exchange rates<span class="text-red-400">*</span></p>
        <p class="text-l font-sans text-gray-600 mt-3 ms-6 lg:ms-0 me-6 lg:w-9/12">If you do not know how to use currency coinverter, click the button below</p>
        <button type="button" class="border-2 bg-zinc-900 hover:bg-zinc-800 text-white rounded-full font-sans font-semibold w-40 px-6 py-2 mt-3 ms-6 lg:ms-0 me-6">How it works</button>
    </div>
</div>
